<% const bd = typeof bookingDisplay !== 'undefined' ? bookingDisplay : {}; %>
<% const metaMap = bd.STATUS_META || {}; %>
<% const meta = metaMap[status] || { label: status, tone: 'cancelled' }; %>
<span class="booking-status booking-status--<%= meta.tone %> padding-left-small"><%= meta.label %></span>
