<% layout("/layouts/boilerplate") %>
<h1>All Listings</h1>
<ul>
  <% for(let listings of allListing) { %>
  <li>
    <a href="/listings/<%= listings._id %>">
      <%= listings.title %>
    </a>
  </li>
  <% } %>
</ul>
<% if(allListing.length===0) { %>
<p>No listings found</p>
<% } %>